In [64]:
import os
os.listdir()

['.git',
 '.gitignore',
 '.idea',
 '.ipynb_checkpoints',
 'Python course notes.txt',
 'README.md',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'supermarkets_csv.ipynb',
 'Testing notebook.ipynb',
 'venv']

In [65]:
import pandas

In [66]:
df1=pandas.read_csv('supermarkets.csv'); df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [67]:
dfpj=pandas.read_json('supermarkets.json'); dfpj

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

Can I just type in some __text__ here? I _can_ using markdown.

In [68]:
import xlrd

In [69]:
dfexcel=pandas.read_excel('supermarkets.xlsx'); dfexcel;

In [70]:
import pandas;dfexcel=pandas.read_excel('supermarkets.xlsx'); dfexcel;

In [71]:
import pandas
dfexcel=pandas.read_excel('C:/Users/peter.DESKTOP-3GCVT7E/source/repos/Python/python mega course/PythonTutorialPandasAndNumpy/supermarkets.xlsx')
dfexcel

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [72]:
dfexcel=pandas.read_excel('C:/Users/peter.DESKTOP-3GCVT7E/source/repos/Python/python mega course/PythonTutorialPandasAndNumpy/supermarkets.xlsx',sheet_name=0)
dfexcel

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [73]:
dftext=pandas.read_csv('supermarkets-commas.txt')
dftext

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [74]:
dfsemicolon=pandas.read_csv('supermarkets-commas.txt',sep=';')
dfsemicolon

        ID,Address,City,State,Country,Name,Employees
0  1,3666 21st St,San Francisco,CA 94114,USA, Mad...
1  2,735 Dolores St,San Francisco,CA 94119,USA,Br...
2  3,332 Hill St,San Francisco,California 94114,U...
3  4,3995 23rd St,San Francisco,CA 94114,USA,Ben'...
4  5,1056 Sanchez St,San Francisco,California,USA...
5  6,551 Alvarado St,San Francisco,CA 94114,USA,R...

In [75]:
dftext=pandas.read_csv('supermarkets-commas.txt', header = None)
dftext.columns = ['ID','Address','City','ZIP','Country','Name','Capacity']
dftext

,ID,Address,City,ZIP,Country,Name,Capacity
0,ID,Address,City,State,Country,Name,Employees
1,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [76]:
dftext=pandas.read_csv('supermarkets-commas.txt', header = None)
dftext

,0,1,2,3,4,5,6
0,ID,Address,City,State,Country,Name,Employees
1,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [77]:
dftext=pandas.read_csv('supermarkets-commas.txt')
#dftext=pandas.read_csv('supermarkets-commas.txt', header = None)
dftext.columns = ['ID','Address','City','ZIP','Country','Name','Capacity']
dftext
dftext

,ID,Address,City,ZIP,Country,Name,Capacity
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [78]:
dftext2 = dftext.set_index('ID',drop=False)

In [79]:
dftext2.loc['332 Hill St':'551 Alvarado St','Country':'ID']

Empty DataFrame
Columns: []
Index: [4, 5]

In [80]:
dftext2=dftext2.set_index('Address',drop=False)

In [81]:
dftext2.loc['332 Hill St':'551 Alvarado St','Country':'Capacity']

                Country         Name  Capacity
Address
332 Hill St         USA  Super River        25
3995 23rd St        USA   Ben's Shop        10
1056 Sanchez St     USA      Sanchez        12
551 Alvarado St     USA   Richvalley        20

In [82]:
dftext2.loc['332 Hill St','Name'] + ' is a super address'

'Super River is a super address'

In [83]:
dftext.iloc[1:3,1:3]

          Address           City
1  735 Dolores St  San Francisco
2     332 Hill St  San Francisco

In [84]:
dftext2.ix[2,2]

c:\users\peter.desktop-3gcvt7e\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'San Francisco'

In [85]:
dftext

,ID,Address,City,ZIP,Country,Name,Capacity
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [86]:
dftext2.drop("3666 21st St")#can also use double quotes

,ID,Address,City,ZIP,Country,Name,Capacity
Address,,,,,,,
735 Dolores St,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [87]:
len(dftext2.index)

6

In [90]:
dftext2['Continent']=dftext2.shape[0]*['North America']

In [91]:
dftext2

,ID,Address,City,ZIP,Country,Name,Capacity,Continent
Address,,,,,,,,
3666 21st St,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
735 Dolores St,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
332 Hill St,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3995 23rd St,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
1056 Sanchez St,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
551 Alvarado St,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [92]:
b

,ID,Address,City,ZIP,Country,Name,Capacity,Continent
Address,,,,,,,,
3666 21st St,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA,North America"
735 Dolores St,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America"
332 Hill St,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA,North America"
3995 23rd St,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America"
1056 Sanchez St,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA,North America"
551 Alvarado St,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America"

In [95]:
dftext2 = dftext2.T; dftext2

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
ZIP,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Capacity,8,15,25,10,12,20
Continent,"USA,North America","USA,North America","USA,North America","USA,North America","USA,North America","USA,North America"

In [98]:
dftext2.to_clipboard()

In [104]:
dftext2_t = dftext2.T;dftext2_t;

In [105]:
dftext2_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
ZIP,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Capacity,8,15,25,10,12,20
Continent,"USA,North America","USA,North America","USA,North America","USA,North America","USA,North America","USA,North America"

In [108]:
dftext2_t['My Address']=[7,'Somewhere','My City','my Zip','My Country','My Shop',20, 'My Continent']; dftext2_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,My Address
ID,1,2,3,4,5,6,7
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,Somewhere
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,My City
ZIP,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,my Zip
Country,USA,USA,USA,USA,USA,USA,My Country
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,My Shop
Capacity,8,15,25,10,12,20,20
Continent,"USA,North America","USA,North America","USA,North America","USA,North America","USA,North America","USA,North America",My Continent

In [112]:
dftext2 = dftext2.T;dftext2;

In [116]:
dftext2 = dftext2_t.T

In [117]:
dftext2

,ID,Address,City,ZIP,Country,Name,Capacity,Continent
Address,,,,,,,,
3666 21st St,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA,North America"
735 Dolores St,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America"
332 Hill St,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA,North America"
3995 23rd St,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America"
1056 Sanchez St,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA,North America"
551 Alvarado St,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America"
My Address,7,Somewhere,My City,my Zip,My Country,My Shop,20,My Continent

In [121]:
import sys; print(sys.executable);

c:\users\peter.desktop-3gcvt7e\appdata\local\programs\python\python37-32\python.exe

In [123]:
from geopy.geocoders import ArcGIS; nom = ArcGIS;

In [126]:
nom = ArcGIS()

In [127]:
nom.geocode("44 Mead Crescent, Southampton")

Location(44 Mead Crescent, Southampton, Hampshire, England, SO18 2, (50.93566008533255, -1.3793759059578665, 0.0))

In [130]:
dftext2['LongAddress']=dftext2['Address']+', '+ dftext2['City']+', '+ dftext2['ZIP']+', '+ dftext2['Country']; dftext2 # create geocodable address string

,ID,Address,City,ZIP,Country,Name,Capacity,Continent,LongAddress
Address,,,,,,,,,
3666 21st St,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA,North America","3666 21st St, San Francisco, CA 94114, USA"
735 Dolores St,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America","735 Dolores St, San Francisco, CA 94119, USA"
332 Hill St,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA,North America","332 Hill St, San Francisco, California 94114, USA"
3995 23rd St,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America","3995 23rd St, San Francisco, CA 94114, USA"
1056 Sanchez St,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA,North America","1056 Sanchez St, San Francisco, California, USA"
551 Alvarado St,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America","551 Alvarado St, San Francisco, CA 94114, USA"
My Address,7,Somewhere,My City,my Zip,My Country,My Shop,20,My Continent,"Somewhere, My City, my Zip, My Country"

In [132]:
dftext2['Coordinates']=dftext2['LongAddress'].apply(nom.geocode)
dftext2

,ID,Address,City,ZIP,Country,Name,Capacity,Continent,LongAddress,Coordinates
Address,,,,,,,,,,
3666 21st St,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA,North America","3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411..."
735 Dolores St,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America","735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94..."
332 Hill St,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA,North America","332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114..."
3995 23rd St,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America","3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411..."
1056 Sanchez St,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA,North America","1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9..."
551 Alvarado St,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America","551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9..."
My Address,7,Somewhere,My City,my Zip,My Country,My Shop,20,My Continent,"Somewhere, My City, my Zip, My Country","(Country, Cascavel, Paran, (-24.9381599999999..."

In [133]:
dftext2.Coordinates

Address
3666 21st St       (3666 21st St, San Francisco, California, 9411...
735 Dolores St     (735 Dolores St, San Francisco, California, 94...
332 Hill St        (332 Hill St, San Francisco, California, 94114...
3995 23rd St       (3995 23rd St, San Francisco, California, 9411...
1056 Sanchez St    (1056 Sanchez St, San Francisco, California, 9...
551 Alvarado St    (551 Alvarado St, San Francisco, California, 9...
My Address         (Country, Cascavel, Paran, (-24.9381599999999...
Name: Coordinates, dtype: object

In [139]:
dftext2['Latitude'] = dftext2['Coordinates'].apply(lambda x: x.latitude if x != None else None)   # unpack Location object from Coordinates field using lambda expression
dftext2['Longitude'] = dftext2['Coordinates'].apply(lambda x: x.longitude if x != None else None);   # unpack Location object from Coordinates field using lambda expression
dftext2

,ID,Address,City,ZIP,Country,Name,Capacity,Continent,LongAddress,Coordinates,Latitude,Longitude
Address,,,,,,,,,,,,
3666 21st St,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA,North America","3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411...",37.756444,-122.429353
735 Dolores St,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America","735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94...",37.757801,-122.425599
332 Hill St,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA,North America","332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114...",37.755641,-122.428794
3995 23rd St,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America","3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411...",37.752985,-122.431702
1056 Sanchez St,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA,North America","1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9...",37.752144,-122.429758
551 Alvarado St,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America","551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9...",37.753709,-122.433251
My Address,7,Somewhere,My City,my Zip,My Country,My Shop,20,My Continent,"Somewhere, My City, my Zip, My Country","(Country, Cascavel, Paran, (-24.9381599999999...",-24.938160,-53.448820