In [2]:
import os
os.listdir()

['.git',
 '.idea',
 '.ipynb_checkpoints',
 'README.md',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Testing notebook.ipynb',
 'Untitled.ipynb',
 'venv']

In [9]:
import pandas

In [13]:
df1=pandas.read_csv('supermarkets.csv'); df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [15]:
dfpj=pandas.read_json('supermarkets.json'); dfpj

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

Can I just type in some __text__ here? I _can_ using markdown.

In [1]:
import xlrd

ModuleNotFoundError: No module named 'xlrd'

In [2]:
dfexcel=pandas.read_excel('supermarkets.xslx'); dfexcel;

NameError: name 'pandas' is not defined

In [3]:
import pandas;dfexcel=pandas.read_excel('supermarkets.xslx'); dfexcel;

ImportError: Install xlrd >= 1.0.0 for Excel support

In [5]:
import pandas
dfexcel=pandas.read_excel('C:/Users/peter.DESKTOP-3GCVT7E/source/repos/Python/python mega course/PythonTutorialPandasAndNumpy/supermarkets.xlsx')
dfexcel

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20